<div class="home-callout text-center container-fluid">
    <h1>TINA, the Tampon Inseration Aid</h1>
    <br>
    <div class="homepage-description-div">
        <p class="homepage-description">TINA is a reloadable tampon applicator. With TINA, women can insert tampons with one hand and no independent finger motion.</p>
    </div>
</div>
